body{
    font-family: sans-serif;
}

.header-container{
    width: 100vw;
}

.smaller-container{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

#title{
    font-weight: bold;
}

#intro{
    background-color: antiquewhite;
}

#searchbar{
    background-color: aliceblue;
}

#filter{
    background-color: aqua;
}

.all-cuisines{
    background-color: beige;
    width: 80%;
    margin: auto;
    padding: 10px 30px;

    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
    grid-gap: 1rem;
    */
    
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 40px 25px;
    align-items: first baseline;
    padding: 10px 30px;
    
}

.cuisine{
    background-color: burlywood;
    height: 400px;
    width: 300px;
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    flex-wrap: wrap;
}

.cuisine-img{
    width: 100%;
    height: 75%;
    border-style: solid;
    border-width: 0px;
    border-color: white;
}

.cuisine-name{
    position: absolute;
    bottom: 20%;
    right: 16px;
    

    align-self:flex-start; 
    /* text-align: left; */
    text-decoration: underline;
    font-size: 22px;
    margin: 15px 0px;
    color: white;

    background-color: blue;

}

.cuisine-flavor{
    align-self: flex-start;
    font-size: 15px;
    font-weight: normal;
    color: black;
}