body{
    font-family: monospace;
    /* text-align: left; */
    font-size: 32px;
}

.no-underline{
    text-decoration: none;
}

.lefttext{
    text-align: left;
}

.centertext{
    text-align: center;
}

.logo {
    width: 400px;
    height: auto;
}

hr{
    height: 3px;
    background-color: black;
}

.h1{
    font-weight: bold;
    background-color: yellow;
    margin: 40px;
    color: black;
}

.h2{
    text-align: center;
    margin: 40px;
    color: black;
}

.rolls{
    display: flex;
    margin: 75px;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    flex-wrap: wrap;
}

.img{
    padding: 10px;
}

.img:hover{
    padding: 10px;
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
}

.name{
    align-self:flex-start; 
    /* text-align: left; */
    text-decoration: underline;
    font-size: 28px;
    margin: 5px 0px;
    color: black;
}

.price{
    align-self: flex-start;
    font-size: 28px;
    font-weight: normal;
    color: black;
}

.galleryimg{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


/* Product Detail */

.roll-detail{
    padding: 10px;
    text-align: center;
    margin: 75px;
}

.description{
    margin: 40px 0px;
    text-align: center;
}

.options{
    text-align: center;
}

select{
    font-size: 28px;
    text-align: left;
    padding: 5px 10px;
    width: 330px;
    height: 60px;
}

.detail-action{
    margin: 60px;
}

.detail-price{
    font-weight: bold;
    margin: 500px 20px;
    padding: 500px 0px;
}

#cart-button{
    font-size: 28px;
    font-weight: bold;
    width: 170px;
    height: 60px;
    background-color: yellow;
}


/* Shopping Cart */
.cart-img{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.product{
    margin: 75px;
    text-align: center;
}

.text{
    margin: 20px;
    text-align: center;
}

.remove{
    font-weight: bold;
    text-decoration: underline;
    margin: 20px;
}

#checkout-button{
    font-size: 28px;
    font-weight: bold;
    width: 240px;
    height: 60px;
    background-color: yellow;
    margin: 30px;
}

.emptyspace{
    margin: 300px;
}

#h2-cart{
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: yellow;
}

#h1-cart{
    margin: 40px;
    color: black;
}