body{
    font-family: Montserrat;
    font-size: clamp(0.8rem, 2vw, 1rem); /* Adjust these values as needed */
}

:lang(zh) {
    font-family: "Noto Sans SC", "Microsoft YaHei", sans-serif;
}

.no-underline{
    text-decoration: none;
    color: black;
}

.header-container{
    width: 100vw;
    display: flex;
    margin-bottom: 0vh;
}

.smaller-container{
    margin: 1vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
}

.logo {
    width: 14vw;
    height: auto;
    text-align: left;
    margin: 0;
}

#title{
    font-size: 5vw;
}

.subtitle{
    font-size: 3vw;
}

hr{
    height: 2px;
    background-color: black;
    border: 0;
    margin: 0;
}

.all-cuisines{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 3vh 2vw;
    justify-content: center;
    gap: 3vh 2vw;
    align-items: first baseline;
    padding: 0.5vh 2vw;
}

.site-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px; /* Adjust padding as necessary */
    color: white; /* For better visibility against a darker background */
}

.site-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/bamboo bg.jpg"); /* Set your footer image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2; /* Adjust opacity here */
    z-index: -1;
}

.cuisines{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    flex-wrap: wrap;
}

.cuisine-container{
    width: 290px;
    padding: 10px;
}

.cuisine-container:hover{
    padding: 10px;
    background-color: #d3f0b6;
    font-weight: bold;
    cursor: pointer;
}

.name{
    align-self:flex-start; 
    text-align: left;
    font-size: clamp(1.1rem, 2.3vw, 1.5rem);
    margin: 1vh 0px;
    color: black;
    font-weight: bold;
}

.flavor{
    text-align: left;
    font-size: clamp(1.125rem, 2vw, 1.4rem);
    font-weight: normal;
    color: black;
    text-wrap: wrap;
    text-decoration: none;
    color: black;
}

img.galleryimg{
    width: 285px;
    height: auto;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
}

@media (max-width:500px) {
    img.galleryimg{
        text-align: center;
        width: 150px;
        height: auto;
        border-style: solid;
        border-width: 2.5px;
        border-color: black;
    }
    .cuisine-container{
        text-align: center;
        width: 150px;
    }
    .name{
        text-align: center;
    }
    .flavor{
        text-align: center;
    }
    #main-content{
        flex-direction: column;
    }
}

footer p{
    color: black;
    margin: auto;
    padding: 1% 6vw;
}

.emptyspace{
    height: 60vw;
}


/* Cuisine Detail Page */
#main-content{
    justify-content: center;
    display: flex;
    border-width: 2px;
    border: black;
    padding: 0.5vh 2vw;
    /* align-items: center; */
}

.facts-box{
    flex: 0 0 25%;
    background-color: #d3f0b6;
    padding: 3vh 2vw;
    border-width: 2px;
    border-color: black;
    border-style: none;

    line-height: 2rem;
    font-size: clamp(1.125rem, 2vw, 1.4rem);
}

#facts-box-heading{
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-weight: bold;
}

.facts-box li{
    font-size: clamp(1.1rem, 1.9vw, 1.3rem);
}

.bullets{
    font-weight: bold;
}

#description{
    flex: 0 0 60%;
    padding: 3vh 2vw;

    line-height: 2rem;
    font-size: clamp(1.1rem, 1.9vw, 1.3rem);
    text-indent: 2rem;
}

.dishes{
    font-weight: bold;
}

.dishes:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

iframe{
    margin: 2vw;
    width: 90%;
    aspect-ratio: 16 / 9;
}